@font-face {
    font-family: 'Josefin_Sans';
    src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Josefin_Sans',sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative;
    background: url('../images/bg-pattern-desktop.svg') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding-bottom: 3rem;
    width: 300px;
}

h1 {
    margin: 0;
    padding: 0;
}

.logo {
    height: 25px;
}

header {
    text-align: left;
    padding:30px;
}

.banner {
    background: url('../images/hero-mobile.jpg') no-repeat;
    height: 250px;
    background-position: center;
    background-size: cover;
}

.content {
    padding: 30px;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 10px;
}

span {
    font-weight: 200;
    color: hsl(0, 36%, 70%);
}

p {
    color: hsl(0, 36%, 70%);
    line-height: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    line-height: 3rem;
    width: 100%;
}

#email {
    border: 1px solid hsl(0, 36%, 70%);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 50px;
    color: black;
    font-weight: 300;
}

.email {
    position: relative;
}

button {
    border: 0;
    background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%)),url('../images/icon-arrow.svg') no-repeat;
    padding: 10px;
    height: 48px;
    width: 66px;
    border-radius: 50px;
    position: absolute; 
    right: 0;
    top: 0;
}
button img{
    height: 100%;
}

#email:focus {
    border-color: hsl(0, 36%, 70%);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px hsl(0, 36%, 70%);
    outline: none;
}

button {
    cursor: pointer;
}
button:hover {
    background: linear-gradient(135deg, hsl(0, 80%, 76%),hsl(0, 74%, 64%)),url('../images/icon-arrow.svg') no-repeat;
}
#email:invalid {
    border-color: hsl(0, 56%, 50%);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px hsl(0, 56%, 50%);
}

.invalidEmailIcon {
    background: url('../images/icon-error.svg') no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    background-size: contain;
    right: 75px;
    top: 16px;
    display: none;
}

.invalidEmailText {
    color: hsl(0, 93%, 68%);
    font-size: 0.7rem;
    margin: 0;
    padding-left: 15px;
    display: none;
    text-align: left;
}

.visible {
    display: block;
}

@media (max-width:400px) {
    main {
        width: 100%;
    }
}

@media (min-width:50em) {
    main {
        width: 800px;
        height: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        box-shadow: 0 0 50px hsl(0, 36%, 70%);
        padding: 0;
    }
    header {
        width: 500px;
        height: 30px;
        box-sizing: border-box;
        padding-left: 50px;
    }

    .banner {
        background: url('../images/hero-desktop.jpg') no-repeat;
        background-size: cover;
        height:450px;
        width: 300px;
        order: 3;
        
    }
    .content {
        box-sizing: border-box;
        text-align: left;
        padding: 20PX 50px;
        width: 500px;
        height: 390px;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
