@import 'reset.css';

:root {
    --layout-mobile : 375px;
    --layout-tablet: 768px;
    --layout-desktop: 1440px;

    /* colors */

    --clr-neutral-100: hsl(28, 100%, 97%);
    --clr-neutral-400: hsl(30, 5%, 45%);
    --clr-neutral-900: hsl(0, 0%, 1%);

    --clr-primary-200: hsl(28, 89%, 67%);
    --clr-primary-300: hsl(0, 78%, 79%);
    --clr-primary-400: hsl(7, 77%, 66%);
    --clr-primary-500: hsl(314, 45%, 23%);
    --clr-primary-600: hsl(172, 46%, 57%);
    --clr-primary-700: hsl(252, 66%, 62%);

    /* typography */

    --ff-primary: 'Jakarta medium',sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;

    --fs-primary-heading: clamp(2.25rem, calc(1.81rem + 1.88vw), 3.50rem);
    --fs-secondary-heading: clamp(1.63rem, calc(1.32rem + 1.31vw), 2.50rem);
    --fs-text: clamp(1.00rem, calc(0.96rem + 0.19vw), 1.13rem);
    --fs-button: clamp(0.88rem, calc(0.83rem + 0.19vw), 1.00rem);
    --fs-illustration-title: 1.5rem;

    /* utility */

    --padding-button: clamp(0.50rem, calc(0.37rem + 0.56vw), 0.88rem) clamp(1.75rem, calc(1.38rem + 1.60vw), 2.81rem);
    --margin-header: clamp(1.00rem, calc(0.60rem + 1.69vw), 2.13rem);
    --margin-lr-content: clamp(1.00rem, calc(-2.26rem + 13.90vw), 10.25rem);
    --margin-t-hero: clamp(2.00rem, calc(1.25rem + 3.19vw), 4.13rem);
    --margin-b-hero: clamp(2.00rem, calc(0.94rem + 4.51vw), 5.00rem);
}


@font-face {
    font-family: 'Jakarta medium';
    src: url('../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf');
}

body {
    font-family: var(--ff-primary);
    text-align: center;
    max-width: 1440px;
    font-size: var(--fs-text);
    margin: auto;
}
p {
    color: var(--clr-neutral-400);
}
h1, h2 {
    line-height: 1.2;
}
h1 {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
}
.card {
    color: var(--clr-neutral-100);
}

/* composition */

.two-columns {
    display: grid;
    grid-template-columns: auto auto; 
    justify-content: space-between;
}

/* utility */

.text-neutral-100 { 
    color: var(--clr-neutral-100);
}
.text-neutral-400 { 
    color: var(--clr-neutral-400);
}
.text-neutral-900 { 
    color: var(--clr-neutral-900);
}
.bg-neutral-100 { 
    background-color: var(--clr-neutral-100);
}
.bg-neutral-400 { 
    background-color: var(--clr-neutral-400);
}
.bg-neutral-900 { 
    background-color: var(--clr-neutral-900);
}
.bg-primary-200 { 
    background-color: var(--clr-primary-200);
}
.bg-primary-300 { 
    background-color: var(--clr-primary-300);
}
.bg-primary-400 { 
    background-color: var(--clr-primary-400);
}
.bg-primary-500 { 
    background-color: var(--clr-primary-500);
}
.bg-primary-600 { 
    background-color: var(--clr-primary-600);
}
.bg-primary-700 { 
    background-color: var(--clr-primary-700);
}
.ff-primary {
    font-family: var(--ff-primary);
}
.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-bold {
    font-weight: var(--fw-bold);
}
.fs-button {
    font-size: var(--fs-button);
}
.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}
.fs-default {
    font-size: var(--fs-text);
}
.fs-illustration-title {
    font-size: var(--fs-illustration-title);
}
.padding-button {
    padding: var(--padding-button);
}
.margin-lr-content {
    margin-inline-start: var(--margin-lr-content);
    margin-inline-end: var(--margin-lr-content);
}
.margin-header {
    margin-top: var(--margin-header);
}
.margin-t-hero {
    margin-top: var(--margin-t-hero);
}

/* block */

.logo {
    width: 48px;
    height: 48px;
}
.button {
    border: none;
    border-radius: 100vmax;
    width: max-content;
}
.hero {
    margin-block-start: clamp(2.00rem, calc(1.25rem + 3.19vw), 4.13rem);
    margin-block-end: clamp(2.00rem, calc(0.94rem + 4.51vw), 5.00rem);
}
.hero__desc {
    margin-top: clamp(1.00rem, calc(0.85rem + 0.66vw), 1.44rem);
    max-width: clamp(17.81rem, calc(8.02rem + 41.78vw), 45.63rem);
    margin-inline: auto;
}
.cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr) ;
    /* grid-template-rows: repeat(3, 1fr); */
}

.grid-col-span-2 {
    grid-column: span 2;
    grid-row: span 2;
}

/* exception */