@import 'reset.css';

:root {
    --layout-mobile : 375px;
    --layout-tablet: 768px;
    --layout-desktop: 1440px;

    /* colors */

    --clr-neutral-100: hsl(28, 100%, 97%);
    --clr-neutral-400: hsl(30, 5%, 45%);
    --clr-neutral-900: hsl(0, 0%, 1%);

    --clr-primary-200: hsl(28, 89%, 67%);
    --clr-primary-300: hsl(0, 78%, 79%);
    --clr-primary-400: hsl(7, 77%, 66%);
    --clr-primary-500: hsl(314, 45%, 23%);
    --clr-primary-600: hsl(172, 46%, 57%);
    --clr-primary-700: hsl(252, 66%, 62%);

    /* typography */

    --ff-primary: 'Jakarta medium',sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;

    --fs-primary-heading: clamp(2.25rem, calc(1.81rem + 1.88vw), 3.50rem);
    --fs-secondary-heading: clamp(1.63rem, calc(1.32rem + 1.31vw), 2.50rem);
    --fs-text: clamp(1.00rem, calc(0.96rem + 0.19vw), 1.13rem);
    --fs-button: clamp(0.88rem, calc(0.83rem + 0.19vw), 1.00rem);
    --fs-illustration-title: 1.5rem;

    /* utility */

    --padding-button: clamp(0.50rem, calc(0.37rem + 0.56vw), 0.88rem) clamp(1.75rem, calc(1.38rem + 1.60vw), 2.81rem);
    --padding-cta: clamp(3.06rem, calc(2.38rem + 2.91vw), 5.00rem)  clamp(1.50rem, calc(0.60rem + 3.85vw), 4.06rem);
    --margin-header: clamp(1.00rem, calc(0.60rem + 1.69vw), 2.13rem);
    --margin-lr-content: clamp(1.00rem, calc(-2.26rem + 13.90vw), 10.25rem);
    --margin-t-hero: clamp(2.00rem, calc(1.25rem + 3.19vw), 4.13rem);
    --margin-b-hero: clamp(2.00rem, calc(0.94rem + 4.51vw), 5.00rem);
}


@font-face {
    font-family: 'Jakarta medium';
    src: url('../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf');
}

/* general styling */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-text);
    text-align: center;
    color: var(--clr-neutral-400);
    background: var(--clr-neutral-100);
}
.container {
    --max-width: 1110px;
    --padding: 16px;

    width: clamp(23rem, 90vw, 90rem);
    margin-inline: auto;
    padding-inline: 1rem;
}
h1, h2 {
    color: var(--clr-neutral-900);
}
h1 {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
}
h2 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-bold); 
}
.card {
    color: var(--clr-neutral-100);
}

/* composition */

.two-columns {
    display: grid;
    grid-template-columns: auto auto; 
    justify-content: space-between;
}

.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;
}

.grid-col-span-2 {
    grid-column: span 2;
}
.grid-row-span-2 {
    grid-row: span 2;
}

/* utility */

.text-neutral-100 { 
    color: var(--clr-neutral-100);
}
.text-neutral-400 { 
    color: var(--clr-neutral-400);
}
.text-neutral-900 { 
    color: var(--clr-neutral-900);
}
.bg-neutral-100 { 
    background-color: var(--clr-neutral-100);
}
.bg-neutral-400 { 
    background-color: var(--clr-neutral-400);
}
.bg-neutral-900 { 
    background-color: var(--clr-neutral-900);
}
.bg-primary-200 { 
    background-color: var(--clr-primary-200);
}
.bg-primary-300 { 
    background-color: var(--clr-primary-300);
}
.bg-primary-400 { 
    background-color: var(--clr-primary-400);
}
.bg-primary-500 { 
    background-color: var(--clr-primary-500);
}
.bg-primary-600 { 
    background-color: var(--clr-primary-600);
}
.bg-primary-700 { 
    background-color: var(--clr-primary-700);
}
.ff-primary {
    font-family: var(--ff-primary);
}
.fw-regular {
    font-weight: var(--fw-regular);
}
.fw-bold {
    font-weight: var(--fw-bold);
}
.fs-button {
    font-size: var(--fs-button);
}
.fs-primary-heading {
    font-size: var(--fs-primary-heading);
    line-height: 1.2;
}
.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    line-height: 1.2;
}
.fs-default {
    font-size: var(--fs-text);
}
.fs-illustration-title {
    font-size: var(--fs-illustration-title);
}
.padding-button {
    padding: var(--padding-button);
}
.padding-trbl-24 {
    padding: 24px;
}
.margin-lr-content {
    margin-inline:  var(--margin-lr-content);
}
.margin-header {
    margin-top: var(--margin-header);
}
.margin-t-hero {
    margin-top: var(--margin-t-hero);
}
.border-radius-10 {
    border-radius: 10px;
}
.move-top-left {
    margin-left: auto;
}


/* block */

.logo {
    width: 48px;
    height: 48px;
}
.button {
    border: none;
    border-radius: 100vmax;
    width: max-content;
    padding: var(--padding-button);
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    line-height: 28px;
}
.cta {
    padding: var(--padding-cta);
}
.card {
    font-size: var(--fs-illustration-title);
    font-weight: var(--fw-bold);
    min-height: 182px;
    position: relative;
}
.card__text {
    position: absolute;
    bottom: 24px;
}

/* exception */