@font-face {
    font-family: 'Lexend_Deca';
    src: url('/components/stats-preview-card-component-main/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/components/stats-preview-card-component-main/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter',sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 250px;
    height: 550px;
    /* margin: auto; */
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}

.headerImg {
    background: linear-gradient(rgba(59, 16, 99, 0.6),rgba(59, 16, 99, 0.6)) ,url('/components/stats-preview-card-component-main/images/image-header-mobile.jpg');
    height: 150px;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    text-align: center;
}

span {
    color: rgb(138, 43, 226);
}

p {
    font-size: 0.7em;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 0 30px 0 30px;
    line-height: 1.9em;
}

.info p {
    margin: 5px 0 10px 0;
    font-size: 0.6EM;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.6)
}

footer {
    position: absolute;
    bottom: 1vh;
}

@media (min-width:40em) {
    main {
        height: 250px;
        width: 550px;
        flex-direction: row;
    }
    .left {
        flex-direction: column;
        margin: 10px 0 0 30px;
    }
    .info {
        flex-direction: row;
        justify-content: space-between;
        margin-right: 40px;
    }
    .headerImg {
        height: 250px;
        width: 550px;
        order :3;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
    }

    h2 {
        text-align: left;
    }

    p {
        text-align: left;
        padding: 0;
    }
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

