<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Four card feature section</title>
  <link rel="stylesheet" href="./styles/style.css">

</head>
<body>
  
  <main>  
    <h1>Reliable, efficient delivery</h1>
    <h1>Powered by Technology</h1>

    <p>Our Artificial Intelligence powered tools use millions of project data points 
    to ensure that your project is successful</p>

    <div class="list">

      <div class="listItem" id="supervisor">
        <h3>Supervisor</h3>
        <p>Monitors activity to identify project roadblocks</p>
        <div class="icon" id="supervisorIcon"></div>
      </div>
      
      <div class="center">
        <div class="listItem" id="teamBuilder">
          <h3>Team Builder</h3>
          <p>Scans our talent network to create the optimal team for your project</p>
          <div class="icon" id="teamBuilderIcon"></div>
        </div>

        <div class="listItem" id="karma">
          <h3>Karma</h3>
          <p>Regularly evaluates our talent to ensure quality</p>
          <div class="icon" id="karmaIcon"></div>
        </div>
      </div>

      <div class="listItem" id="calculator">
        <h3>Calculator</h3>
        <p>Uses data from past projects to provide better delivery estimates</p>
        <div class="icon" id="calculatorIcon"></div>
      </div>

    </div>
  </main>
  
  <footer>
    <p class="attribution">
      Coded by <a href="#">Alexandru-O</a>.
    </p>
  </footer>
</body>
</html>