* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass/Overpass-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Overpass',sans-serif;
    min-width: 300px;
}
p {
    font-size: 1rem;
}

header {
    background: url('../images/bg-pattern-intro-mobile.svg') no-repeat center, linear-gradient(to left top, hsl(353, 100%, 62%),hsl(13, 100%, 72%));
    color: white;
    height: 500px;
    border-bottom-left-radius: 100px;
    text-align: center;
    position: relative;
}

.logo {
    width: 140px;
    background: url('../images/logo.svg') no-repeat center left 40px;
    height: 100px;
    background-size: 50%;
    float: left;
}

.hamb {
    width: calc(100% - 140px);
    height: 100px;
    background: url('../images/icon-hamburger.svg') no-repeat center right 40px;
    float: right;
    cursor: pointer;
}

.headerInfo {
    padding: 150px 30px 0 30px;
}

.headerInfo h1 {
    margin: 0;
}

.headerButtons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.headerButtons button {
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

#startForFree {
    background: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

main {
    text-align: center;
    padding: 50px 0px;
    color: hsl(207, 13%, 34%);
}

.animation img {
    height: 100%;
    width: 100%;
}


#topSect {
    padding: 0 20px;
}
#middleSect {
    background: url('../images/bg-pattern-circles.svg') no-repeat center top -170px, linear-gradient(to left top,hsl(237, 23%, 32%),hsl(237, 17%, 21%));
    background-size: 150%;
    min-height: 300px;
    color: hsl(0, 0%, 100%);
    position: relative;
    margin-top: 170px;
    padding: 0 20px 20px 20px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
}

#middleSect .animation{
    height: 270px;
    width: 250px;
    background: url('../images/illustration-phones.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: -135px;
    left: calc(50% - 125px);
}

#middleSect h2 {
    padding-top: 135px;
}

#middleSect p {
    color: hsl(240, 2%, 79%);
}

#bottomSect {
    margin-top: 50px;
    padding: 0 20px;
}

footer {
    background: hsl(240, 10%, 16%);
    color: hsl(240, 2%, 79%);
    border-top-right-radius: 70px;
    text-align: center;
}

footer .logo{
    margin-top: 40px;
    width: 100%;
    height: 30px;
    background-position: center;
    background-size: contain;
}

footer a{
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}

footer ul a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    font-size: 0.8rem;
}

#bottomNav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#bottomNav {
    width: 100%;
    padding-top: 100px;
}

#bottomNav ul{
   padding: 0;
}

#bottomNav > ul > li {
    padding: 30px 0;
}

#bottomNav  ul li a{
    line-height: 25px;
}


footer ul {
    list-style: none;
}

.headerNav {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    top: 150px;
    background:  hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 0 30px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px;
    display: none;
}

.active {
    display: initial;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    width: 100%;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.dropbtn {
    width: max-content;
    margin: auto;
}

.headerNav li {
    margin: 10px auto;
}

.headerNav ul a {
    text-decoration: none;
    color: hsl(208, 49%, 24%);
    font-weight: 700;
    display: inline-block;
}

.dropdownContent {
    /* display: none; */
    background: hsl(240, 2%, 89%);
    border-radius: 5px;

    max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
}

.dropdownContent.open {
    max-height: 200px;
}


.line {
    background-color: hsl(240, 2%, 79%);
    width: calc(100% - 20px);
    height: 1px;
}

.headerNav button {
    width:fit-content;
    background: transparent;
    border: none;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
    font-size: 1rem;
    cursor: pointer;
}

.headerNav #signup {
    padding: 10px 20px;
    background: linear-gradient(to right ,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border-radius: 20px;
    color:  hsl(0, 0%, 100%);
}

.dropbtn::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url('../images/icon-arrow-dark.svg') no-repeat center;
    transition: 0.2s;
    position: absolute;
}

.dropdown.active .dropbtn::after {
    transform: rotate(-180deg);
}

#learnMore:hover {
    background: white;
    color: hsl(355, 100%, 74%);
}
#startForFree:hover {
    border-color: hsl(355, 100%, 74%);
    background: hsl(355, 100%, 74%);
    color: white;
}


@media (min-width:40rem) {
    .hamb {
        display: none;
    }
    .headerNav {
        display: flex;
        flex-direction: row;
        background: transparent;
        position: initial;
        width: calc(100% - 140px);
        box-shadow: none;
        border-radius: none;
        gap: none;
        height: 100px;
    }
    .menu {
        display: flex;
        width: 400px;
        gap: 20px;
    }
    .line {
        display: none;
    }
    .headerNav ul a {
        color: white;
        font-size: 0.8rem;
    }
    .dropbtn::after {
        background: url('../images/icon-arrow-light.svg') no-repeat center;
        height:0.8rem;
    }
    .dropdown {
        position: relative;
    }
    .dropdownContent.open {
        width: 100%;
    }
    .dropdownContent {
        position: absolute;
        left: 0;
        top: 20px;
        background: white;
        padding: 0 20px;
        width: 100%;
    }
    .dropdownContent li a {
        color: hsl(207, 13%, 34%);
    }
    .dropdownContent li a:hover {
        color: hsl(240, 10%, 6%);
    }
    .active {
        display: flex;
        flex-direction: row;
    }
    .headerNav button {
        color: white;
        font-size: 0.8rem;
    }
    .headerNav #signup {
        background: white;
        color: hsl(356, 100%, 66%);
        width: 100px;
        padding: 10px 20px;
        line-height: 0.8rem;
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        width: calc(100% - 300px);
    }
    .headerInfo {
        padding: 100px 30px 0 30px;
    }
    #topSect {
        display: flex;
        flex-flow: column wrap;
        max-height: 550px;
        padding: 0;
        position: relative;
        text-align: left;
    }

    #topSect h2 {
        position: absolute;
        width: 100%;
        top: 0;
        text-align: center;
    }
    #topSect .animation {
        width: 50%;
        order: 2;
        background-position:-20px -100px;
        max-height: 550px;
        overflow: hidden;
    }
    #topSect article {
        width: 40%;
        margin-left: 10%;
    }
    #topSect article:nth-of-type(1) {
        padding-top: 100px;
    }
    #topSect .animation img {
        padding-left: 200px;
        width: auto;
        max-height: 100%;
    }
    #middleSect {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        justify-content: center;
        align-items: flex-end;
    }

    #middleSect .animation {
        position: absolute;
        order: 1;
        height: 450px;
        left: calc(25% - 250px);
        top: -60px;
        background-size: contain;
        width: 50%;
    }

    #middleSect h2 {
        width: 50%;
        order: 2;
        padding: 0;
        text-align: left;
        padding-left: 30px;
    } 

    #middleSect p {
        width: 50%;
        order: 3;
        text-align: left;
        padding-left: 30px;
    }
    #bottomSect {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
        height: 550px;
        margin: 150px 0;
        justify-content: center;
    }
    #bottomSect .animation {
        width: 50%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #bottomSect .animation img {
        padding: 0;
        position: absolute;
        right: 100px;
        top: 0;
        width: auto;
    }
    #bottomSect article {
        width: 50%;
        text-align: left;
        padding-right: 200px;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
    }
    footer .logo {
        width: 25%;
        margin: 0;
    }
    #bottomNav {
        padding: 0;
        width: 75%;
    }
    #bottomNav > ul {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    
}
.attribution { 
    font-size: 11px;
    text-align: center; 
    width: 100%;
}
.attribution a { color: hsl(228, 45%, 44%); }
