* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass/Overpass-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Overpass',sans-serif;
    min-width: 300px;
}
p {
    font-size: 1rem;
}

header {
    background: url('../images/bg-pattern-intro-mobile.svg') no-repeat center, linear-gradient(to left top, hsl(353, 100%, 62%),hsl(13, 100%, 72%));
    color: white;
    height: 500px;
    border-bottom-left-radius: 100px;
    text-align: center;
    position: relative;
}

.logo {
    width: 140px;
    background: url('../images/logo.svg') no-repeat center left 40px;
    height: 100px;
    background-size: 50%;
    float: left;
}

.hamb {
    width: calc(100% - 140px);
    height: 100px;
    background: url('../images/icon-hamburger.svg') no-repeat center right 40px;
    float: right;
    cursor: pointer;
}

.headerInfo {
    padding: 150px 30px 0 30px;
}

.headerInfo h1 {
    margin: 0;
}

.headerButtons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.headerButtons button {
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    color: hsl(0, 0%, 100%);
    
}

#startForFree {
    background: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
}

main {
    text-align: center;
    padding: 50px 0px;
    color: hsl(207, 13%, 34%);
}

.animation img {
    height: 100%;
    width: 100%;
}


#topSect {
    padding: 0 20px;
}
#middleSect {
    background: url('../images/bg-pattern-circles.svg') no-repeat center top -170px, linear-gradient(to left top,hsl(237, 23%, 32%),hsl(237, 17%, 21%));
    background-size: 150%;
    height: 400px;
    color: hsl(0, 0%, 100%);
    position: relative;
    margin-top: 170px;
    padding: 0 20px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
}

#middleSect .animation{
    height: 270px;
    width: 250px;
    background: url('../images/illustration-phones.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: -135px;
    left: calc(50% - 125px);
}

#middleSect h2 {
    padding-top: 135px;
}

#middleSect p {
    color: hsl(240, 2%, 79%);
}

#bottomSect {
    margin-top: 50px;
    padding: 0 20px;
}

footer {
    background: hsl(240, 10%, 16%);
    color: hsl(240, 2%, 79%);
    border-top-right-radius: 70px;
    text-align: center;
}

footer .logo{
    margin-top: 40px;
    width: 100%;
    height: 30px;
    background-position: center;
    background-size: contain;
}

footer a{
    text-decoration: none;
    color: hsl(0, 0%, 100%)
}

footer ul a{
    text-decoration: none;
    color: hsl(240, 2%, 79%);
    font-size: 0.8rem;
}

#bottomNav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

#bottomNav {
    width: 100%;
    padding-top: 100px;
}

#bottomNav ul{
   padding: 0;
}

#bottomNav > ul > li {
    padding: 30px 0;
}

#bottomNav  ul li a{
    line-height: 25px;
}


footer ul {
    list-style: none;
}

.headerNav {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    top: 150px;
    background:  hsl(0, 0%, 100%);
    border-radius: 5px;
    box-shadow: 0 0 30px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 20px;
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    width: 100%;
}

.dropdown {
    width: max-content;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.headerNav li {
    margin: 10px auto;
}

.headerNav ul a {
    text-decoration: none;
    color: hsl(208, 49%, 24%);
    font-weight: 700;
    display: inline-block;
}

.dropdownContent {
    /* display: none; */
    background: hsl(240, 2%, 89%);
    border-radius: 5px;

    height: 0;
	overflow: hidden;
    opacity: 0;
	transition: height 0.4s ease, opacity 0;
}

.dropdownContent.open {
    padding: 10px 0;
    height: max-content;
    transition: height 0.5s ease, opacity 0.5s ease 0.1s;
    opacity: 1;
}

.line {
    background-color: hsl(240, 2%, 79%);
    width: calc(100% - 20px);
    height: 1px;
}

.headerNav button {
    width:fit-content;
    background: transparent;
    border: none;
    font-weight: 600;
    color: hsl(208, 49%, 24%);
    font-size: 1rem;
    cursor: pointer;
}

.headerNav #signup {
    padding: 10px 20px;
    background: linear-gradient(to right ,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    border-radius: 20px;
    color:  hsl(0, 0%, 100%);
}

.dropbtn::after {
    content: "";
    width: 20px;
    height: 20px;
    background: url('../images/icon-arrow-dark.svg') no-repeat center;
    transition: 0.2s;
    position: absolute;
}


.dropdown:hover .dropbtn::after {
    transform: rotate(-180deg);
}

.active {
    display: flex;
    flex-direction: column;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
