<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Article preview component</title>
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./scripts/main.js" defer></script>

</head>
<body>
  <main>
    <div class="headerImg"></div>

    <article>
      <h3>
        Shift the overall look and feel by adding these wonderful 
        touches to furniture in your home
      </h3>
      <p>    
        Ever been in a room and felt like something was missing? Perhaps 
        it felt slightly bare and uninviting. I've got some simple tips 
        to help you make any room feel complete.
      </p>
      
      <div class="info1">
        <div class="avatar"></div>
        <div class="bio">  
          <p class="name">Michelle Appleton</p>
          <p class="date">28 Jun 2020</p>
        </div>
        <div class="shareBtnBg"><div class="shareBtn"></div></div>
      </div>
      <div class="info2"></div>
    </article>
  </main>
  <div class="attribution">
    Coded by <a href="#">Alexandru-O</a>.
  </div>
</body>
</html>