<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Profile card component</title>
  <link rel="stylesheet" href="./styles/style.css">

</head>
<body>

  <main>
    <div class="headerImg"></div>
    <div class="profileImg"></div>
    <div class="bio">
      <div class="name">Victor Crest</div>
      <div class="age">26</div>
      <div class="location">London</div>
    </div>

    <div class="line"></div>

    <div class="info">
      <div class="followers">
        <p>80K</p>
        <span>Followers</span>
      </div> 
      <div class="likes">
        <p>803K</p>
        <span>Likes</span>
      </div>
      <div class="photos">
        <p>1.4K</p>
        <span>Photos</span>
      </div>
    </div>
  </main>

  <div class="attribution">
    Coded by <a href="#">Alexandru-O</a>.
  </div>
</body>
</html>
