@import url('./reset.css');

@font-face {
    font-family: 'Raleway 400';
    src: url('../fonts/Raleway/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway 700';
    src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans 400';
    src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans 700';
    src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf');
}

:root {
    /* layout */
    --layout-mobile: 375px;
    --layout-desktop: 1440px;

    /* colors */
    --clr-intro: hsl(217, 28%, 15%);
    --clr-bg-body: hsl(218, 28%, 15%);
    --clr-bg-main: hsl(218, 28%, 13%);
    --clr-bg-footer: hsl(216, 53%, 9%);
    --clr-bg-testimonials: hsl(219, 30%, 18%);
    --clr-cta-gradient1: hsl(176, 68%, 64%);
    --clr-cta-gradient2: hsl(198, 60%, 50%);
    --clr-btn-hover: hsl(186, 61%, 72%);
    --clr-error: hsl(0, 100%, 63%);
    --clr-text: hsl(0, 0%, 100%);
    --clr-text-opc: hsl(0, 0%, 100%,70%);

    /* typography */
    --ff-body-regular: 'Open Sans 400';
    --ff-body-bold: 'Open Sans 700';
    --ff-heading-regular: 'Raleway 400';
    --ff-heading-bold: 'Raleway 700';

    --fs-100: .4375rem;     /* 7 */
    --fs-200: .625rem;      /* 10 */
    --fs-300: .75rem;       /* 12 */
    --fs-400: .875rem;      /* 14 */
    --fs-500: 1rem;         /* 16 */
    --fs-600: 1.125rem;     /* 18 */
    --fs-700: 1.25rem;      /* 20 */   
    --fs-800: 1.5rem;       /* 24 */
    --fs-850: 2rem;          /* 32 */
    --fs-900: 2.5rem;       /* 40 */

}

body {
    background: var(--clr-bg-body);
    position: relative;
}

.content {
    font-family: var(--ff-body-regular),sans-serif;
    max-width: var(--layout-mobile);
    margin: auto;
    color: var(--clr-text);
    text-align: center;
    position: relative;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wrapper__top {
    height: 421px;
    width: 100%;
    background: url('../images/bg-curvy-mobile.svg') no-repeat center bottom, var(--clr-intro);
}

.wrapper__bottom {
    height: calc(100% - 473px);
    width: 100%;
    background:  var(--clr-bg-main);
}

header {
    background: var(--clr-intro);
    padding: 24px 24px 0 24px;
    display: flex;
    font-size: var(--fs-300);
}

main {
    position: relative;
    padding: 0 28px;
    font-size: var(--fs-400);
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

.header__menu > *:hover,
.header__menu > *:focus {
    color: var(--clr-text);
    text-decoration: underline;
    text-decoration-color: var(--clr-text-opc);
}

button:hover,
button:focus {
    background: var(--clr-btn-hover);
}

.header__logo {
    background: url('../images/logo.svg') no-repeat center left;
    background-size: contain;
    width: 80px;
    height: 24px;
}

.header__menu {
    width: calc(100% - 80px);
    font-family: var(--ff-heading-regular);
    text-align: right;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
}

.hero {
    margin-bottom: 120px;
}

.hero__img {
    padding: 48px 8px 33px 8px;
}

.hero__desc {
    margin: 15px 12px 32px 12px;
}

h1,
h2 {
    font-family: var(--ff-heading-bold);
}

h1 {
    font-size: var(--fs-800);
    line-height: 2.25rem;
}

h2 {
    font-size: var(--fs-600);
    line-height: 24px;
}

p,a {
    color: var(--clr-text-opc);
}
.btn-cta {
    border: none;
    background: linear-gradient(to right, var(--clr-cta-gradient1), var(--clr-cta-gradient2));
    color: var(--clr-text);
    font-family: var(--ff-heading-bold);
    border-radius: 100vmax;
    cursor: pointer;
}

.hero__cta {
    width: 242px;
    height: 48px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 160px;
}

.card {
    padding-top: 104px;
    background-size: 80px 80px;
    display: grid;
    gap: 8px;
}

.access {
    background: url('../images/icon-access-anywhere.svg') no-repeat top center;
}

.security {
    background: url('../images/icon-security.svg') no-repeat top center;
}

.real-time {
    background: url('../images/icon-collaboration.svg') no-repeat top center;
}

.store {
    background: url('../images/icon-any-file.svg') no-repeat top center;
}

.middle-card {
    margin-bottom: 160px;
}

.middle-card__img {
    padding: 0 8px;
    margin-bottom: 48px;
}

.middle-card__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.middle-card__title {
    text-align: center;
}

.middle-card__link {
    width: 130px;
    cursor: pointer;
}

.middle-card__link > * {
    color: var(--clr-cta-gradient1);
    font-size: var(--fs-300);
}

.middle-card__link:hover .arrow__color {
    fill: var(--clr-text);
}   

.middle-card__link:hover .line {
    background-color: var(--clr-text);
}  

.middle-card__link:hover a {
    color: var(--clr-text);
}

.arrow {
    position: relative;
    top: 4px
}

.middle-card__link > *:hover,
.middle-card__link > *:focus {
    color: white;
}

.line {
    height: 1px;
    width: 130px;
    background-color: var(--clr-cta-gradient1);
}

.testimonials {
    padding: 0 20px;
    font-size: var(--fs-200);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 10px;
    padding-bottom: 328px;
}

.testimonial {
    background-color: var(--clr-bg-testimonials);
    padding: 24px 20px 21px 20px;
    border-radius: 3.93258px;
    position: relative;
}

.testimonial:first-child::before {
    content: "";
    display: block;
    width: 55px;
    height: 45px;
    background: url('../images/bg-quotes.png') no-repeat center;
    position: absolute;
    top: -35px;
    left: -6px;
    z-index: -1;
}

.testimonial__para {
    line-height: 18px;
}

.testimonial__profile {
    margin-top: 17px;
    display: flex;
    flex-flow: column wrap;
    height: 26px;
}

.testimonial__img {
    width: 24px;
    height: 24px;
    border-radius: 100vmax;
    margin-right: 8px;
}

.testimonial__name {
    line-height: 12px;
    width: calc(100% - 32px);
    margin-bottom: 4px;
    color: var(--clr-text);
    font-family: var(--ff-heading-bold);
}

.testimonial__position {
    font-size: var(--fs-100);
    letter-spacing: 0.5px;
    line-height: 10px;
    width: calc(100% - 32px);
}

.satish {
    background: url('../images/profile-1.jpg') no-repeat center;
    background-size: contain;
}

.bruce {
    background: url('../images/profile-2.jpg') no-repeat center;
    background-size: contain;
}

.iva {
    background: url('../images/profile-3.jpg') no-repeat center;
    background-size: contain;
}

.modal {
    background: var(--clr-intro);
    padding: 40px 28px 37px 28px;
    position: absolute;
    left: 20px;
    bottom: -168px;
    width: calc(100% - 40px);
    border-radius: 9px;
}

.modal h2 {
    margin-bottom: 16px;
}

.modal__email{
    margin: 32px 0 24px 0;
    border-radius: 100vmax;
    border: none;
    height: 48px;
    width: 100%;
    padding-left: 29px;
    font-size: var(--fs-200);
    line-height: 13.62px;
    outline: none;
}

.modal__cta {
    width: 100%;
    padding: 16px 0;
}

.modal__error {
    position: absolute;
    font-size: var(--fs-200);
    color: var(--clr-error);
    bottom: 100px;
    left: 55px;
    display: none;
}

footer {
    background-color: var(--clr-bg-footer);
    padding: 168px 28px 0 28px;
    color: var(--clr-text-opc);
}

.footer__logo {
    background: url('../images/logo.svg') no-repeat center left;
    background-size: contain;
    width: 108px;
    height: 31px;
    margin-top: 83px;
    margin-bottom: 35px;
}

.contact {
    text-align: left;
    margin-bottom: 56px;
}

.contact > * {
    padding-left: 40px;
}

.contact > :where(:not(:first-child)) {
    margin-top: 16px;
}

.contact__location {
    background: url('../images/icon-location.svg') no-repeat top 5px left;
    background-size: 13px 18px;
}

.contact__phone {
    background: url('../images/icon-phone.svg') no-repeat top 5px left;
    background-size: 13px 13px;
}

.contact__email {
    background: url('../images/icon-email.svg') no-repeat top 5px left;
    background-size: 20px 16px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
}

.footer__menu > * {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__menu a:hover,
.footer__menu a:focus {
    color: var(--clr-text);
}

.footer__socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.footer__socials > * {
    height: 27px;
    width: 27px;
    background: var(--clr-text) ;
    cursor: pointer;
}

.footer__socials > *:hover,
.footer__socials > *:hover
 {
    background-color: var(--clr-cta-gradient1);
}

.facebook {
    mask: url('../images/icon-facebook.svg') no-repeat center;
}

.twitter {
    mask: url('../images/icon-twitter.svg') no-repeat center;
}

.instagram {
    mask: url('../images/icon-instagram.svg') no-repeat center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    line-height: 2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* input[type="email"]:invalid {
    box-shadow: 0 0 5px 1px red;
} */

.active {
    display: initial;
}

@media ( min-width: 60rem ) {
    body {
        position: relative;
    }
    .content {
        max-width: var(--layout-desktop);
    }

    header {
        font-size: var(--fs-500);
        padding: 0;
        margin: 73px 80px 0 80px;
        height: 52px;
    }

    .header__logo {
        height: 52px;
        width: 176px;
    }

    .header__menu {
        height: 52px;
    }

    .hero__img {
        padding: 0;
    }

    .hero__img img {
        margin: 75px auto 0 auto;
    }

    .hero h1 {
        font-size: var(--fs-900);
        line-height: 60px;
        width: 734px;
        margin: 36px auto 0 auto;
    }

    .hero {
        margin-bottom: 158px;
    }

    .hero p {
        width: 589px;
        margin: 32px auto;
        font-size: var(--fs-700);
        line-height: 30px;
    }

    .wrapper__top {
        height: 1185px;
        background: url('../images/bg-curvy-desktop.svg') no-repeat bottom center;
        background-size: 1440px 410px;
    }
    .wrapper__bottom {
        position: relative;
        top: -34px;
        height: calc(100% - 1185px);
    }
    .small-cube {
        position: absolute;
        height: 150px;
        width: 50%;
        background: var(--clr-bg-main);
        top: 1062px;
        right: 0;
    }
    button {
        font-size: var(--fs-500);
    }

    .hero__cta {
        width: 280px;
        height: 56px;
    }

    .list {
        flex-flow: row wrap;
        max-width: 880px;
        margin: 0 auto 137px auto;
        gap: 70px;
        justify-content: space-between;

    }

    .card {
        max-width: 363px;
    }

    .middle-card {
        display: flex;
        flex-direction: row;
        width: 1235px;
        justify-content: center;
        align-items: center;
        margin: 0 auto 120px auto;
    }

    .middle-card__img {
        width: 50%;
    }

    .middle-card__content {
        width: 50%;
        padding: 57px; 
        font-size: 16px;
    }

    .middle-card__content a {
        font-size: 16px;
    }

    .middle-card__link {
        width: 166px;
    }

    .line { 
        width: 166px;
    }

    .middle-card__content h2 {
        text-align: left;
        font-size: 40px;
        line-height: 50px;
    }

    .testimonials {
        flex-flow: row;
        gap: 40px;
        justify-content: center;
    }

    .testimonial__para {
        font-size: var(--fs-400);
        line-height: 21px;
    }

    .testimonial {
        width: 360px;
        height: 200px;
        padding: 40px 26px 26px 26px;
    }

    .testimonial__profile {
        margin-top: 24px;
    }
    
    .modal {
        width: 863px;
        height: 275px;
        left: calc(50% - 431.5px);
        bottom: -137.5px;
    }

    .modal h2 {
        font-size: var(--fs-850);
        line-height: 48px;
    }

    .modal p {
        width: 673px;
        margin: 0 auto;
    }

    .modal__email {
        display: inline-block;
        width: 480px;
        height: 48px;
        margin-top: 38px;
        margin-right: 29px
    }

    .modal__cta {
        display: inline-block;
        width: 200px;
        height: 48px;
        margin-top: 38px;
        padding: 0;
        font-size: var(--fs-400);
    }

    footer {
        display: flex;
        flex-flow: wrap;
        min-height: 441px;
        justify-content: space-between;
        padding: 168px 120px 3rem 120px;
        gap: 20px;
    }

    .contact > *:where(:not(:first-child)) {
        margin: 0;
    }

    .footer__logo {
        width: 100%;
        margin-top: 53px;
    }
    .contact {
        display: flex;
        flex-flow: column wrap;
        width: 690px;
        height: 72px;
        margin: 0;
        justify-content: space-between;
        /* align-items: center; */
    }

    .contact__location {
        width: 379px;
        height: 72px;
    }

    .contact__phone {
        background-size: 24px 24px;
        line-height: 35px;
    }
    .contact__email {
        background-size: 24px 20px;
        line-height: 35px;
    }
    .footer__menu {
        flex-flow:wrap ;
        gap: 80px;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        width: calc(100% - 240px);
        font-size: var(--fs-400);
        line-height: 3rem;
    }

    .modal__error {
        bottom: 25px;
        left: 105px;
    }
}

