<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="./styles/style.css">
  <script src="./script/script.js" defer></script>
  
  <title>Tip calculator app</title>

</head>
<body>
  <header></header>
  <main>
    <div class="input">
      <label for="bill">Bill</label>
      <input type="number" name="bill" id="bill" placeholder="0">

      <label>Select Tip %</label>
      <div class="buttons">
        <div class="tip">5%</div>
        <div class="tip">10%</div>
        <div class="tip">15%</div>
        <div class="tip">25%</div>
        <div class="tip">50%</div>
        <div class="tip" id="customDiv">
          Custom
          <input type="number" name="customValue" id="customValue" class="hidden" placeholder="0">
        </div>
      </div>
    
      <label for="people">Number of People</label>
      <input type="number" name="people" id="people" placeholder="0">
    </div>
    <div class="result">
      
      <div class="tipAmount">
        <div>Tip Amount</div>
        <div>/ person</div>
        <div id="tipAmountValue">$0.00</div>
      </div>
      
      <div class="total">
        <div>Total</div>
        <div>/ person</div>
        <div id="totalPersons">$0.00</div>
      </div>

      <button id="resetBtn">RESET</button>
    </div>
  </main>
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Alexandru-O</a>.
  </div>
</body>
</html>