*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

@font-face {
    font-family: 'Epilogue',sans-serif;
    src: url('../fonts/Epilogue/Epilogue-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Epilogue',sans-serif;
    position: relative;
    text-align: center;
}

nav {
    display: none;
}

.logo {
    width: 10%;
    height: 27px;
    background: url('../images/logo.svg') no-repeat;
    margin: 20px;
}

header {
    display: flex;
}

.hamb {
    width: 50%;
    height: 27px;
    background: url('../images/icon-menu.svg') no-repeat;
    background-position: right;
    margin: 20px;
}

main {
    padding-bottom: 2rem;
}

section {
    width: 100%;
}

ul {
    margin: 0;
}

.mainImage {
    background: url('../images/image-hero-mobile.png');
    height: 300px;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
}

main h1 {
    margin: 40px 0;
    font-size: 2.2rem;
}

main p {
    color: hsl(0, 0%, 41%);
    line-height: 1.5rem;
    padding: 0 20px;
    font-weight: 500;
}

section button {
    border-radius: 15px;
    border: 0;
    background: hsl(0, 0%, 8%);
    color: white;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 0;
    cursor: pointer;
}

.clients {
    display: flex;
    max-width: 300px;
    margin: 20px auto;
    gap: 30px;
}

.client {
    height: 36px;
    flex: 1;
}

#databiz {
    background: url('../images/client-databiz.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

#audiophile {
    background: url('../images/client-audiophile.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

#meet {
    background: url('../images/client-meet.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

#maker {
    background: url('../images/client-maker.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

/* body {
    background: rgb(0 0 0 / .5);
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}

.navbar {
    z-index: 4;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    right: 0;
    height: 100vh;
    width: 200px;
} */

@media (min-width:40em) {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: calc(100vh - 67px);
        width: 800px;
        margin: auto;
    }

    main h1 {
        font-size: 3rem;
    }

    main p {
        padding: 0;
    }
    section {
        width: 50%;
        height: 100%; 
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .mainImage {
        background: url('../images/image-hero-desktop.png') no-repeat;
        width: 50%;
        height: 100%;
        order: 2;
        background-position: right;
        background-size: contain;
    }
    .clients {
        width: 100%;
        margin: 0;
    }
    .hamb {
        display: none;
    }
    .navbar {
        display: flex;
    }
    .submenu {
        display: none;
    }
    ul {
        display: flex;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }