*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

@font-face {
    font-family: 'Epilogue',sans-serif;
    src: url('../fonts/Epilogue/Epilogue-VariableFont_wght.ttf');
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Epilogue',sans-serif;
    position: relative;
    text-align: center;
}

nav {
    display: none;
}

.logo {
    width: 150px;
    height: 45px;
    background: url('../images/logo.svg') no-repeat;
    margin: 20px 0 0 20px;
    background-position: left center;
    /* background-size: contain; */
}

header {
    display: flex;
    width: calc(100% - 40px);
    height: 60px;
}

.hamb {
    width: 90%;
    height: 27px;
    background: url('../images/icon-menu.svg') no-repeat;
    background-position: right;
    margin: 20px;
}

main {
    padding-bottom: 2rem;
}

section {
    width: 100%;
}

ul {
    margin: 0;
}

.mainImage {
    background: url('../images/image-hero-mobile.png');
    height: 300px;
    background-size: cover;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
}

main h1 {
    margin: 40px 0;
    font-size: 2.2rem;
}

main p {
    color: hsl(0, 0%, 41%);
    line-height: 1.5rem;
    padding: 0 20px;
    font-weight: 500;
}

section button {
    border-radius: 15px;
    border: 0;
    background: hsl(0, 0%, 8%);
    color: white;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px 0;
    cursor: pointer;
}

.clients {
    display: flex;
    max-width: 300px;
    margin: 20px auto;
    gap: 30px;
}

.client {
    height: 36px;
    flex: 1;
}

#databiz {
    background: url('../images/client-databiz.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

#audiophile {
    background: url('../images/client-audiophile.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

#meet {
    background: url('../images/client-meet.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

#maker {
    background: url('../images/client-maker.svg') no-repeat;
    background-size: contain;
    background-position: center;
}

/* body {
    background: rgb(0 0 0 / .5);
    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
} */

.closeIcon {
    background: url('../images/icon-close-menu.svg') no-repeat;
    width: calc(100% - 40px);
    height: 27px;
    background-position: right;
    margin: 20px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.has-submenu > a {
    padding-right: 20px;
    background: url('../images/icon-arrow-down.svg') no-repeat;
    background-position: center right;
}

.item {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

.subitem {
    padding-left: 25px;
    line-height: 14px;
    margin-top: 15px;
}

.noIcon {
    padding: 0;
}

#todo {
    background: url('../images/icon-todo.svg') no-repeat;
    height: 14px;
    background-size: contain;
}

#calendar {
    background: url('../images/icon-calendar.svg') no-repeat;
    height: 14px;
    background-size: contain;
}

#reminders {
    background: url('../images/icon-reminders.svg') no-repeat;
    height: 14px;
    background-size: contain;
}

#planning {
    background: url('../images/icon-planning.svg') no-repeat;
    height: 14px;
    background-size: contain;
}

.navbar {
    display: block;
    z-index: 4;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    right: 0;
    height: 100vh;
    width: 200px;
    color: hsl(0, 0%, 41%);
    font-size: 0.8rem;
    font-weight: 500;
}

.navbar button {
    border: 0;
    background-color: transparent;
    width: calc(100% - 60px);
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    margin: 10px 30px;
    font-weight: 500
}

#registerBtn {
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    padding: 10px;;

}

.submenu {
    display: none;
}

@media (min-width:40em) {
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: calc(100vh - 67px);
        width: 800px;
        margin: auto;
    }

    main h1 {
        font-size: 3rem;
    }

    main p {
        padding: 0;
    }
    section {
        width: 50%;
        height: 100%; 
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .mainImage {
        background: url('../images/image-hero-desktop.png') no-repeat;
        width: 50%;
        height: 100%;
        order: 2;
        background-position: right;
        background-size: contain;
    }
    .clients {
        width: 100%;
        margin: 0;
    }
    .hamb {
        display: none;
    }
    .navbar {
        width: calc(100% - 170px);
        height: 40px;
        margin-top: 20px;
        display: flex;
    }
    .navbar button {
        width: 100px;
        margin: 0;
    }
    #loginBtn {
        margin-left: auto;
    }
    #registerBtn {
        margin-right: 20px;
    }
    .closeIcon {
        display: none;
    }
    ul {
        display: flex;
        line-height: 40px;
        width: 50%;
        margin: 0;
        padding: 0;
        gap: 30px;
    }
    .item {
        margin: 0;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }