<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="./styles/style.css">  
  <title>Frontend Mentor | Coding Bootcamp Testimonials Slider</title>

  <script src="./scripts/script.js" defer></script>

</head>
<body>

  <section class="[ testimonial-slider ] [ text-align-center ]">
    <article class="[ testimonial ] [ padding-top-bot-2 ] ">
      <div class="[ testimonial__image ] [ padding-3 ]">
        <img src="./images/image-tanya.jpg" alt="">
        <div class="arrows"></div>
      </div>
      <div class="[ testimonial__bio ] [ padding-bot-3 ]">
        <p class="[ padding-top-2 ][ text-dark-blue-80-opacity ]">“ I've been interested in coding for a while but never taken the jump, until now. 
        I couldn't recommend this course enough. I'm now in the job of my dreams and so 
        excited about the future. ”</p>
        <strong class="">Tanya Sinclair</strong>
        <p class="text-grayish-blue">UX Engineer</p>
      </div>
    </article>

    <article class="testimonial-slider__testimonial">
      <div class="[ testimonial__image ] [ padding-3 ]">
        <img src="./images/image-john.jpg" alt="">
        <div class="arrows"></div>
      </div>
      <div class="testimonial__bio">
        <p class="[ padding-top-2 ][ text-dark-blue-80-opacity ]">“ If you want to lay the best foundation possible I'd recommend taking this course. 
        The depth the instructors go into is incredible. I now feel so confident about 
        starting up as a professional developer. ”</p>
        <strong class="">John Tarkpor</strong>
        <p class="text-grayish-blue">Front-end Developer</p>
      </div>
    </article>
  </section>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Alexandru-O</a>.
  </div>
</body>
</html>