<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <script src="./scripts/script.js" defer></script>
  <link rel="stylesheet" href="./styles/style.css">
  
  <title>Time tracking dashboard</title>

</head>
<body>
  <main>
    <div class="container top">
      <div class="wrap">
        <img src="./images/image-jeremy.png" alt="Jeremy">
        <p>Report for</p>
        <h3>Jeremy Robson</h3>
      </div>
      <div class="period">
        <span>Daily</span>
        <span>Weekly</span>
        <span>Monthly</span>
      </div>
    </div>

    <div class="container work">
      <div class="blueContainer">
        <div>Work</div>
        <div class="dots"></div>
        <div>32hrs</div>
        <div>Previous - 36hrs</div>
      </div>
    </div>

    <div class="container play">
      <div class="blueContainer">
        <div>Play</div>
        <div class="dots"></div>
        <div>10hrs</div>
        <div>Previous - 29hrs</div>
      </div>
    </div>

    <div class="container study">
      <div class="blueContainer">
        <div>Study</div>
        <div class="dots"></div>
        <div>4hrs</div>
        <div>Previous - 7hrs</div>
      </div>
    </div>

    <div class="container exercise">
      <div class="blueContainer">
        <div>Exercise</div>
        <div class="dots"></div>
        <div>4hrs</div>
        <div>Previous - 5hrs</div>
      </div>
    </div>

    <div class="container social">
      <div class="blueContainer">
        <div>Social</div>
        <div class="dots"></div>
        <div>5hrs</div>
        <div>Previous - 10hrs</div>
      </div>
    </div>

    <div class="container selfcare">
      <div class="blueContainer">
        <div>Self Care</div>
        <div class="dots"></div>
        <div>2hrs</div>
        <div>Previous - 2hrs</div>
      </div>
    </div>

  </main>
  
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="#">Alexandru-O</a>.
  </div>
</body>
</html>