* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner/Commissioner-VariableFont_wght.ttf');
}

body {
    font-family: 'Commissioner',sans-serif;
    margin: 0;
    background :hsl(0, 0%, 95%);
}

p {
    color: hsl(0, 0%, 48%);
    font-size: 0.8rem;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.nav {
    display: none;
}

header {
    background: url('../images/image-hero-mobile.jpg') no-repeat center ;
    height: 250px;
    background-size: cover;
}

.logo {
    background: url('../images/logo.svg') no-repeat center left 20px;
    width: 50%;
    height: 50px;
    float: left;
}

.hamb {
    background: url('../images/icon-hamburger.svg') no-repeat center right 20px;
    width: 50%;
    height: 50px;
    float: right;
    cursor: pointer;
}

main {
    background :transparent;
    margin: 0 20px;
    position: relative;
    top: -40px;
    text-align: center;
}

.topSection {
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px 20px;
    position: relative;
}

.illustration {
    background: url('../images/logo-mastercraft.svg') no-repeat center;
    height: 60px;
    width: 60px;
    position: absolute;
    top: -30px;
    left: calc(50% - 30px);
}

h1 {
    padding-top: 20px;
    font-size: 1.4rem;
}

button {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    border: none;
    background-color: hsl(176, 50%, 47%);
    padding: 15px;
    width: 168px;
    border-radius: 30px;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.bookmarkBtn {
    background: url('../images/icon-bookmark.svg') no-repeat center;
    height: 60px;
    width: 60px;
    
}

.infoSection {
    margin-top: 20px;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px 20px;
}

.topValue {
    font-size: 1.6rem;
    font-weight: 700;
}

.bottomValue {
    color: hsl(0, 0%, 48%);
    font-size: 0.7rem;
    line-height: 1.7rem;
}

.line {
    height: 1px;
    background-color: hsl(0, 0%, 80%);
    width: 80px;
    margin: 20px auto;
}

.progressBar {
    background-color: hsl(0, 0%, 95%);
    height: 10px;
    border-radius: 5px;
    margin-top: 20px;
}

.progressAmount {
    background-color: hsl(176, 50%, 47%);
    height: 100%;
    width: 80%;
    border-radius: 5px;
}

.mainSection {
    margin-top: 20px;
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 30px 20px;

    text-align: left;
    line-height: 1.4rem;
}

.mainSection>p {
    margin-top: 25px;
}

article {
    border: 1px solid hsl(0, 0%, 88%);
    padding: 20px 0;
    border-radius: 10px;
    margin-top: 20px;
}

.greenText {
    color: hsl(176, 50%, 47%);
    margin: 0;
    font-weight: 500;
}

.leftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bottomArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottomArticle p:nth-of-type(1) {
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    width: max-content;
}

.bottomArticle p:nth-of-type(2){
    font-size: 0.8rem;
    margin-left: 5px;
    flex: 0 0 33.333%;
    margin-right: auto;
}

.mainSection article:nth-of-type(3) .bottomArticle button {
    background-color: grey;
}

.mainSection article:nth-of-type(3) {
    opacity: 0.5;
}

.modal {
    position: absolute;
    left: 0;
    background: white;
    top: -80px;
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.radioLeft {
    float: left;
    width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
}

.radioRight {
    height: 40px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}

label {
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
	height: 20px;
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
    margin: 0;
    cursor: pointer;
}

input[type="radio"]:checked {
	background-color: hsl(176, 50%, 47%);
}

button {
    cursor: pointer;
}

.radioRight .greenText {
    font-size: 0.8rem;
}

.quantityLeftTop {
    display: none;
}

.quantity {
    font-weight: 700;
}

.quantity span {
    font-size: 0.8rem;
}

.quantity span {
    font-size: 0.7rem;
    color: hsl(0, 0%, 60%);
    font-weight: 500;
}

.pledgeValue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.greyText {
    text-align: center;
    width: 100%;
    margin: 0;
}

.pledgeAmount {
    appearance: textfield;
    border: 1px solid hsl(0, 0%, 80%);
    width: 90px;
    height: 47px;
    border-radius: 30px;
    font-weight: 700;
    padding-left: 45px;
    outline: 0 none;
}

.pledgeAmountDiv {
    width: 115px;
}
.pledgeAmountDiv::before {
    content: "\0024";
    position: relative;
    right: -40px;
    color: grey;
    width: 10px;
}

.pledgeAmount:focus {
    border-color: hsl(176, 50%, 47%);
}

.continueBtn {
    width: 110px;
}

article .line {
    width: 100%;
}

.top {
    padding: 0 20px;
}

.bottom {
    padding: 0 20px;
}

@media (min-width: 40rem) {
    header {
        background: url('../images/image-hero-desktop.jpg');
    }
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
