:root {
    --mobile : 375px;
    --desktop: 1440px;

    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-grayish-blue: hsl(216, 30%, 68%);
    --clr-very-dark-violet: hsl(270, 9%, 17%);
    --clr-line: rgb(191, 178, 206);
    --clr-dark-grayish-violet: hsl(273, 4%, 51%);
    --clr-very-light-gray: hsl(0, 0%, 98%, 70%);

    --fs-default: 16px;
    --fs-small: 14px;
    
    --fw-400: 400;
    --f2-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: 'DM_Serif_Display';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-VariableFont_wght.ttf');
}

body {
    font-family: 'DM_Serif_Display',sans-serif;
    text-align: center;
}

p {
    font-size: var(--fs-small);
    color: var(--clr-very-light-gray);
    font-family: 'Karla',sans-serif;
}

h1 {
    line-height: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    background: url('../images/logo.svg') no-repeat center left;
    height: 32px;
    width: 110px;
    margin: 20px 0 20px 20px;
}

.hamburger {
    background: url('../images/icon-hamburger.svg') no-repeat center right;
    height: 32px;
    width: 32px;
    margin: 20px 20px 20px 0;
}

nav {
    width: 100vw;
    height: 0;
    overflow: hidden;
    top: 70px;
    left: 0;
    z-index: 2;
    background: url('../images/bg-pattern-mobile-nav.svg') no-repeat bottom var(--clr-very-dark-violet);
    transition: height 0.5s ease;
}

li a {
    color: white;
    font-size: 20px;
}

ul {
    list-style: none;
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    margin-top: 50px;
}

li {
    padding: 10px;
}

li:last-of-type {
    border: 1px solid white;
}

a:hover {
    color: var(--clr-dark-grayish-violet);
}

.hero-section-bottom {
    padding: 80px 20px;
    background: var(--clr-dark-violet);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    font-family: 'Karla', sans-serif;
    background: none;
    color: white;
    width: max-content;
    padding: 10px 25px;
    border: 1px solid white;
    letter-spacing: 2px;
    font-size: 10px;
    cursor: pointer;
}

.find-more button:hover {
    color: var(--clr-very-dark-violet);
    background-color: white;
    border-color: white;
}

button:hover {
    color: var(--clr-very-dark-violet);
    background-color: white;
    border-color: white;
}

.bg-pattern-intro-top {
    position: absolute;
    background: url('../images/bg-pattern-intro-left-mobile.svg') no-repeat top left;
    width: 100%;
    height: 100%;
}

.bg-pattern-intro-bottom {
    position: absolute;
    background: url('../images/bg-pattern-intro-right-mobile.svg') no-repeat bottom right;
    width: 100%;
    height: 100%;
    bottom: -174px;
}

.main-section {
    padding: 80px 20px;
}

.line-small {
    width: 50%;
    height: 1px;
    background-color: var(--clr-line);
    margin: auto;
    margin-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.main-section h1 {
    margin-bottom: 40px;
}

article p {
    color: var(--clr-dark-grayish-violet);
}

.icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
}

.snappy .icon {
    background: url('../images/icon-snappy-process.svg') no-repeat center;
}

.affordable .icon {
    background: url('../images/icon-affordable-prices.svg') no-repeat center;
}

.people .icon {
    background: url('../images/icon-people-first.svg') no-repeat center;
}

.find-more {
    margin-top: 50px;
    background: url('../images/bg-pattern-how-we-work-mobile.svg') no-repeat center right, var(--clr-dark-violet);
    color: white;
    padding: 60px 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: url('../images/bg-pattern-footer-mobile.svg') no-repeat center top;
}

.socials {
    display: flex;
    gap: 10px;
}

span {
    height: 30px;
    width: 30px;
    background-color: var(--clr-dark-grayish-violet);
}

.facebook {
    mask: url('../images/icon-facebook.svg') no-repeat center;
    
}
.twitter {
    mask: url('../images/icon-twitter.svg') no-repeat center;
}
.pinterest {
    mask: url('../images/icon-pinterest.svg') no-repeat center;
}
.instagram {
    mask: url('../images/icon-instagram.svg') no-repeat center;
}

span:hover {
    background-color: var(--clr-very-dark-violet);
}

.line-long {
    width: 85%;
    height: 1px;
    background-color: var(--clr-line);
    margin: auto;
}

footer p {
    color: var(--clr-dark-grayish-violet);
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--clr-very-dark-violet);
}

.footer-menu {
    display: flex;
    flex-direction: column;
    font-family: 'Karla';
}

footer .logo {
    margin-top: 70px;
}

.active {
    display: initial;
    height: calc(100vh - 70px);
    transition: height 0.5s ease;
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
}

.close-icon {
    background: url('../images/icon-close.svg') no-repeat center right;
    height: 32px;
    width: 32px;    
}

.attribution { font-size: 11px; text-align: center; width: 100%;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 40rem) {
    .hero-section {
        position: relative;
        z-index: 1;
    }
    picture {
        position: absolute;
        z-index: 2;
        right: 200px;
        top: 80px;
    }

    .hero-section-bottom {
        width: 100vw;
        padding-right: 40%;
        padding-left: 200px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    p {
        font-size: var(--fs-default);
    }

    h1 {
        font-size: 5rem;
        line-height: normal;
    }
}