:root {
    --mobile : 375px;
    --desktop: 1440px;

    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-grayish-blue: hsl(216, 30%, 68%);
    --clr-very-dark-violet: hsl(270, 9%, 17%);
    --clr-line: rgb(191, 178, 206);
    --clr-dark-grayish-violet: hsl(273, 4%, 51%);
    --clr-very-light-gray: hsl(0, 0%, 98%, 70%);

    --fs-default: 16px;
    --fs-small: 14px;
    
    --fw-400: 400;
    --f2-700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: 'DM_Serif_Display';
    src: url('../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf');
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla/Karla-VariableFont_wght.ttf');
}

body {
    font-family: 'DM_Serif_Display',sans-serif;
    text-align: center;
}

p {
    font-size: var(--fs-small);
    color: var(--clr-very-light-gray);
    font-family: 'Karla',sans-serif;
}

h1 {
    line-height: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    background: url('../images/logo.svg') no-repeat center left;
    height: 32px;
    width: 110px;
    margin: 20px 0 20px 20px;
}

.hamburger {
    background: url('../images/icon-hamburger.svg') no-repeat center right;
    height: 32px;
    width: 32px;
    margin: 20px 20px 20px 0;
    cursor: pointer;
}

nav {
    width: 100vw;
    height: 0;
    overflow: hidden;
    top: 70px;
    left: 0;
    z-index: 2;
    background: url('../images/bg-pattern-mobile-nav.svg') no-repeat bottom var(--clr-very-dark-violet);
    transition: height 0.5s ease;
}

li a {
    color: white;
    font-size: 20px;
}

ul {
    list-style: none;
    font-family: 'Karla';
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    margin-top: 50px;
}

li {
    padding: 10px;
}

li:last-of-type {
    border: 1px solid white;
}

a:hover {
    color: var(--clr-dark-grayish-violet);
}

.hero-section-bottom {
    padding: 80px 20px;
    background: var(--clr-dark-violet);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

button {
    font-family: 'Karla', sans-serif;
    background: none;
    color: white;
    width: max-content;
    padding: 10px 25px;
    border: 1px solid white;
    letter-spacing: 2px;
    font-size: 10px;
    cursor: pointer;
    z-index: 100;
}

.find-more button:hover {
    color: var(--clr-very-dark-violet);
    background-color: white;
    border-color: white;
}

button:hover {
    color: var(--clr-very-dark-violet);
    background-color: white;
    border-color: white;
}

.hero-section-bottom .line-small {
    display: none;
}

.bg-pattern-intro-top {
    position: absolute;
    background: url('../images/bg-pattern-intro-left-mobile.svg') no-repeat top left;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bg-pattern-intro-bottom {
    position: absolute;
    background: url('../images/bg-pattern-intro-right-mobile.svg') no-repeat bottom right;
    width: 100%;
    height: 100%;
    bottom: -274px;
    z-index: 2;
}

.main-section {
    padding: 80px 20px;
}

.line-small {
    width: 50%;
    height: 1px;
    background-color: var(--clr-line);
    margin: auto;
    margin-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.main-section h1 {
    margin-bottom: 40px;
}

article p {
    color: var(--clr-dark-grayish-violet);
}

.icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
}

.snappy .icon {
    background: url('../images/icon-snappy-process.svg') no-repeat center;
}

.affordable .icon {
    background: url('../images/icon-affordable-prices.svg') no-repeat center;
}

.people .icon {
    background: url('../images/icon-people-first.svg') no-repeat center;
}

.find-more {
    margin-top: 50px;
    background: url('../images/bg-pattern-how-we-work-mobile.svg') no-repeat center right, var(--clr-dark-violet);
    color: white;
    padding: 60px 20px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: url('../images/bg-pattern-footer-mobile.svg') no-repeat center top;
}

.socials {
    display: flex;
    gap: 10px;
}

span > * {
    height: 30px;
    width: 30px;
    fill: var(--clr-dark-grayish-violet);
    cursor: pointer;
}

span:hover * {
    fill: var(--clr-very-dark-violet);
}

.line-long {
    width: 85%;
    height: 1px;
    background-color: var(--clr-line);
    margin: auto;
}

footer p {
    color: var(--clr-dark-grayish-violet);
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--clr-very-dark-violet);
}

.footer-menu {
    display: flex;
    flex-direction: column;
    font-family: 'Karla';
}

footer .logo {
    margin-top: 70px;
}

.active {
    display: initial;
    height: calc(100vh - 70px);
    transition: height 0.5s ease;
}

.disable-scroll {
    overflow: hidden;
    height: 100vh;
}

.close-icon {
    background: url('../images/icon-close.svg') no-repeat center right;
    height: 32px;
    width: 32px;    
}

.attribution { font-size: 11px; text-align: center; width: 100%;}
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 40rem) {
    .hero-section {
        position: relative;
        min-height: 600px;
        margin-bottom: 200px;
    }

    .hero-section-bottom {
        padding-right: calc(600px + 10%);
        padding-left: 10%;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        min-height: 600px;
    }

    p {
        font-size: var(--fs-default);
    }

    h1 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .bg-pattern-intro-top {
        background: url('../images/bg-pattern-intro-left-desktop.svg') no-repeat center left;
        position: absolute;
        top: 340px;
        left: 0;
        height: 510px;
        z-index: 1;
    }
    
    .bg-pattern-intro-bottom {
        position: absolute;
        background: url('../images/bg-pattern-intro-right-desktop.svg') no-repeat center right;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 3;
    }

    picture {
        position: absolute;
        right: 10%;
        top: 100px;
        z-index: 2;
    }

    .line-small {
        margin: 0 0 50px 0;
        width: calc(100vw / 10);
    }

    .logo {
        margin-left: 10%;
    }
    .hamburger {
        margin-right: 10%;
    }
    .main-section {
        padding: 0 10%;
        text-align: left;
    }

    .articles {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: space-between;
        margin-top: 100px;
    }

    article {
        flex: 1;
        text-align: left;
    }
    .icon {
        margin: 0;
    }
    .find-more {
        padding: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        background: url('../images/bg-pattern-how-we-work-desktop.svg') no-repeat top right, var(--clr-dark-violet);
        min-height: 250px;

    }
    .find-more h1 {
        width: 60%;
        margin: 0;
        font-size: 3rem;
        line-height: 3rem;
    }
    .find-more button {
        height: max-content;
    }

    footer {
        flex-flow: row wrap;
        padding: 50px 10%;
        justify-content: space-between;
        margin-top: 100px;
        background: url('../images/bg-pattern-footer-desktop.svg') no-repeat top left, var(--clr-very-light-gray);
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer .logo {
        width: 40%;
        margin: 0;
    }
    footer .socials {
        width: max-content;
        margin-left: auto;
    }
    .line-long {
        width: 100%;
    }
    .footer-menu {
        text-align: left;
        margin-right: 100px;
    }
    .footer-menu a:hover {
        text-decoration: underline;
    }
    .hamburger {
        display: none;
    }
    nav {
        display: flex;
        width: 50%;
        margin: auto 10% auto auto;
        height: max-content;
        background: none;
        justify-content: center;
        align-items: center;
        
    }
    ul {
        flex-direction: row;
        margin: 0;
        height: max-content;
        margin-left: auto;
        padding: 0;
    }
    li {
        padding: 0;
        height: 46px;
        display: grid;
        place-content: center;
    }
    li a {
        color: var(--clr-dark-grayish-violet);
        font-size: var(--fs-small);
        line-height: var(--fs-small);
        font-weight: 600;
    }

    li:last-of-type {
        background: var(--clr-very-light-gray);
        padding: 0 20px;
        color: black;
        /* border-radius: ; */
    }

    li:last-of-type a {
        color: black;
        border: 1px solid black;
        padding: 10px 20px;
    }

    li:last-of-type a:hover {
        color: white;
        background: var(--clr-very-dark-violet);
    }

    a:hover {
        color: var(--clr-very-dark-violet);
    }
}